<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
</head>
<body>
<h1>User List</h1>

<a href="/admin">Back</a> |
<a href="/logout">Logout</a>

<br>
<br>

<table border="1">
    <tr>
        <td>Email</td>
        <td>Password</td>
        <td>Name</td>
        <td>User Type</td>
        <td>Action</td>
    </tr>

    <% for(var i=0; i < productList.length; i++){ %>

        <tr>
            <td><%= productList[i].Name %></td>
            <td><%= productList[i].password %></td>
            <td><%= productList[i].name %></td>
            <td><%= productList[i].user_type %></td>
            <td>
                <a href="/admin/edit/<%= productList[i].id %>">EDIT</a> |
                <a href="/admin/delete/<%= productList[i].id %>">DELETE</a>
            </td>
        </tr>

    <% } %>
</table>

</body>
</html>